@charset "utf-8";
/* CSS Document */

body, p, h1, h2, h3, h4, h5, h6, ul, li, hr, form, img, input, a, textarea{
	margin:0;
	padding:0
}
ul{
	list-style:none
}
img{
	border:0
}
*{
	outline:none
}
a{
	text-decoration:none;
	outline:none
}
div.clear{
	clear:both
}
hr{
	border:0;
}
.left{
	float: left;
}



